body {
	font-family: 'Shadows Into Light', cursive;
	background-image: url("../images/homepage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	align-content: center;
}
.artwork {
	align-content: center;
	text-align: center;
}
.titleBox{
	font-size: 4em;
	margin-top: -10%;
}
.howToPlay {
	font-family: 'Quicksand', sans-serif;
	margin-right: 50%;
	font-size: 1.4em;
	margin-top: -7%;
	justify-content: left;
	text-align: left;
	text-decoration: none;
	text-decoration-style: none;
}
.title {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	margin-left: 5%;
}
li {
	margin: 1em 0;
}
ul {
	list-style-type: none;
	text-decoration: none;
	text-decoration-style: none;
	margin-top: -7%;
}
.button {
	background-color: orange;
	font-size: 2em;
	padding: 1%;
	border-radius: 25px;
	text-decoration: none;
	float: left;
	margin-bottom: 3%;
	margin-left: 12%;
	color: white;
}
