body {
	font-family: 'Shadows Into Light', cursive;
	background-image: url("../images/homepage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	align-content: center;
}
.artwork {
	align-content: center;
	text-align: center;
}
.titleBox{
	font-size: 4em;
	margin-top: -10%;
}
.howToPlay {
	font-family: 'Quicksand', sans-serif;
	margin-right: 50%;
	font-size: 1.4em;
	margin-top: -7%;
	justify-content: left;
	text-align: left;
	text-decoration: none;
	text-decoration-style: none;
}
.title {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	margin-left: 5%;
}
li {
	margin: 1em 0;
}
ul {
	list-style-type: none;
	text-decoration: none;
	text-decoration-style: none;
	margin-top: -7%;
}
.play-button {
	background-color: orange;
	font-size: 2em;
	padding: 1%;
	border-radius: 25px;
	text-decoration: none;
	float: left;
	margin-bottom: 3%;
	margin-left: 12%;
	color: white;
}
@media only screen and (max-width: 768px) {

.button-wrapper{
	text-align: center;
	width: 100%;
}

.play-button {
	text-align: center;
	width: 80%;
}

.title {
	text-align: center;
}

}
<<<<<<< HEAD
=======

>>>>>>> 09a045e5b931390c78a2e006431450382fb92c52
