html {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
}

h3,
a {
margin: 10px 0;
}

body {
  background: url("../images/doghouse.png") no-repeat center center fixed;
  background-size: cover;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  display: inline-block;
  padding: inherit;
  margin: 30px;
}

.card-panel {
 width: 100px;
 height: 100px;
 padding: inherit;
}

.font-card-size {
  font-size: 0.5em;
}

.navbar {
  height: auto;
  padding-bottom: 3em;
}

.characterimage {
  padding: 10px;
  margin: 20px;
}

.card-custom {
  border-radius: 20px;
  height: 10em;
  width: 100%;
  opacity: 0.5;
}

#displayBoard {
text-align: center;
}

#questionBoard {
	width: 100%;
	height: auto;
	margin: 2% auto;
	border-radius: 20px;
	display: inline-block;
	text-align: center;
  font-size: 2em;
}

#scoreBox {
	max-width: 10%;
	max-height: 10%;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	padding: 2%;
}

#characterSelect {
	width: 80%;
	max-height: 40%;
	border: 4px solid black;
	margin: 0 auto;
	border-radius: 20px;
	align-content: center;
	text-align: center;
	padding: 4px;
	display: inline-block;
	float: right;
}

@media only screen and (max-width: 768px) {

  .card-custom {
    height: 100%;
  }

}
