body {
	background-color: lightgray;
	background-image: url("../images/doghouse.png");
	background-size:contain;
	color: black;
}
#questionBoard {
	width: 95%;
	height: 30%;
	border: 4px solid black;
	margin: 2% auto;
	border-radius: 20px;
	display: inline-block;
	text-align: center;
	padding: 2%;
}
#charlieBrown {
	background-image: url("../images/charliebrown.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
#pigpen {
	background-image: url("../images/pigpen.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
#marcie {
	background-image: url("../images/marcie.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
} 
#peppermintPatty {
	background-image: url("../images/peppermintpatty.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
#schroeder {
	background-image: url("../images/schroeder.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
} 
#linus {
	background-image: url("../images/linus.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
} 
#lucy {
	background-image: url("../images/lucy.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
#snoopy {
	background-image: url("../images/snoopy.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
} 
#woodstock {
	background-image: url("../images/woodstock.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
#sallyBrown {
	background-image: url("../images/sally.png");
	background-size:contain;
	border: 4px solid black;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
#scoreBox {
	border: 4px solid black;
	max-width: 10%;
	max-height: 10%;
	border-radius: 10px;
	margin-top: 10%;
	text-align: center;	
	display: inline-block;
}
#characterSelect {
	width: 70%;
	height: 30%;
	border: 4px solid black;
	margin: 0 auto;
	border-radius: 20px;
	align-content: center;
	text-align: center;
	padding: 4px;
}
#gameStart{
	background-color: blue;
	padding: 5%;
	display: inline-block;
	
}
#artwork {
	align-content: center;
	text-align: center;
}